{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}
{% block metadesc %}
  {% if article.summary %}
    <meta name="description" content="{{article.summary|striptags}}" />
  {% else %}
    <meta name="description" content="{{article.title|striptags}}" />
  {% endif %}
  <meta property="og:type" content="article" />
  {% if article.image %}
  <meta property="og:image" content="{{ SITEURL }}/images/{{ article.image }}" />
  {% endif %}
{% endblock %}
{% block bodyclasses %}article {{ article.slug }}{% endblock %}
{% block content %}
<div class="row">
<div class="col-sm-8 offset-sm-2">
<section id="content" class="body">
  <header>
    {% if article.image %}
    <img src="/images/{{ article.image }}" alt="{{ article.title }} illustrasjonsbilde" class="img-fluid rounded" />
    {% endif %}
    <h2 class="entry-title">
      {{ article.title }}
      <small class="text-muted">
        <time class="published" datetime="{{ article.date.isoformat() }}">
          {{ article.locale_date }}
        </time>
      </small>
    </h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <footer class="post-info">
 </footer><!-- /.post-info -->
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
<div class="shariff" data-lang="no" data-services="[&quot;facebook&quot;,&quot;twitter&quot;,&quot;mail&quot;]"></div>
</div>
</div>
{% endblock %}
